.row{
    @include rowFlex;
    padding: 0 5rem;
}
.col-1-of-2{
    @include colFlex($gap:0);
    width: 50%;
    // align-items: flex-start;
}
.col-2-of-2{
    width: 50%;
}
// .col-1-of-4{
//     @include colFlex;
// }

